
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


.google-logo {
    margin-bottom: 20px; 
}

#search-form {
    text-align: center;
    width: 100%;
    max-width: 600px; 
}


#search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 24px;
    margin: 10px 0; 
}


#search-buttons {
    text-align: center;
}

#search-buttons button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px; 
}

#search-buttons button:hover {
    background-color: #357ae8;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
}


#footer-left ul,
#footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer-left ul li,
#footer-right ul li {
    display: inline;
    margin-right: 10px;
}

#footer-left a,
#footer-right a {
    text-decoration: none;
    color: #666;
}


#footer-left a:hover,
#footer-right a:hover {
    color: #333;
}
